extends ../../_component/layout/template
block cool-config
  -
    var myTitle = 'Learn to code CSS Borders for beginners';
    var myDescription = 'This is a CSS Borders';
    var landingPage = 'CSS';
    var activeLink = '/css/borders';

block awesome-content
  h1=myTitle
  p=myDescription