extends ../../_component/layout/template
block cool-config
  -
    var myTitle = 'Learn to code JavaScript Comments';
    var myDescription = 'This is a JavaScript Comments';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/comments';

block awesome-content
  h1=myTitle
  p=myDescription