extends ../_component/layout/template
block cool-config
  -
    var myTitle = 'Learn to code HTML ';
    var myDescription = 'This is a HTML';
    var landingPage = 'HTML';
    var activeLink = '';

block awesome-content
  h1 HTML