extends ../_component/layout/template
block cool-config
  -
    var myTitle = 'Learn to code HTML for beginners ';
    var myDescription = 'This is a HTML replica of w3schools.com';
    var landingPage = 'HTML';
    var activeLink = '';

block awesome-content
  h1=myTitle
  p=myDescription
  h1 HTML Elements
  p An HTML Element usually consists of a start tag and end tag,with the content inserted in between.
  h1 HTML Attributes
  p Attributes provide additional information about HTML elements.
  h1 HTML Headings
  p Headings are important in HTML documents.