extends ../../_component/layout/template
block cool-config
  -
    var myTitle = 'Learn to code CSS Colors';
    var myDescription = 'This is a CSS Colors';
    var landingPage = 'CSS';
    var activeLink = '/css/colors';

block awesome-content
  h1=myTitle
  p=myDescription