extends ../../_component/layout/template
block cool-config
  -
    var myTitle = 'Learn to code JavaScript Operators for beginners';
    var myDescription = 'This is a JavaScript Operators';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/operators';

block awesome-content
  h1=myTitle
  p=myDescription
  h2 JavaScript Arithmetic Operators
    p
      h3 Assignment Operator
      p The assignment operator (=) assigns a value to a variable.
      h3 Addition Operator
      p The addition operator (+) adds numbers
      h3 Multiplication Operator
      p The multiplication operator (*) multiplies numbers.
  h2 JavaScript String Operators
  h2 JavaScript Comparison Operators
  h2 JavaScript Logical Operators
  h2 JavaScript Type Operators
  h2 JavaScript Bitwise Operators