extends ../../_component/layout/template
block cool-config
  -
    var myTitle = 'Learn to code JavaScript Operators';
    var myDescription = 'This is a JavaScript Operators';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/operators';

block awesome-content
  h1=myTitle
  p=myDescription