extends ../../_component/layout/template
block cool-config
  -
    var myTitle = 'Learn to code HTML Attributes';
    var myDescription = 'This is a HTML Attributes';
    var landingPage = 'HTML';
    var activeLink = 'html/attributes';

block awesome-content
  h1=myTitle
  p=myDescription