extends ../../_component/layout/template
block cool-config
  -
    var myTitle = 'Learn to code JavaScript Variables for beginners';
    var myDescription = 'JavaScript variables are containers for storing data values.';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/variables';

block awesome-content
  h1=myTitle
  p=myDescription
  h2 JavaScript Identifiers
  p All JavaScript variables must be identified with unique names. These unique names are called identifiers. Identifiers can be short names (like x and y) or more descriptive names (age, sum, totalVolume).
  h4 JavaScript identifiers are case-sensitive.