extends ../../_component/layout/template
block cool-config
  -
    var myTitle = 'Learn to code JavaScript Variables';
    var myDescription = 'This is a JavaScript Variables';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/variables';

block awesome-content
  h1=myTitle
  p=myDescription