extends ../_component/layout/template
block cool-config
  -
    var myTitle = 'Learn to code JavaScript ';
    var myDescription = 'This is a JavaScript';
    var landingPage = 'JavaScript';
    var activeLink = '';

block awesome-content
  h1 JavaScript