extends ../_component/layout/template
block cool-config
  -
    var myTitle = 'Learn to code CSS ';
    var myDescription = 'This is a CSS';
    var landingPage = 'CSS';
    var activeLink = '';

block awesome-content
  h1=myTitle
  p=myDescription
