extends ../../_component/layout/template
block cool-config
  -
    var myTitle = 'Learn to code CSS Backgrounds';
    var myDescription = 'This is a CSS Backgrounds';
    var landingPage = 'CSS';
    var activeLink = '/css/backgrounds';

block awesome-content
  h1=myTitle
  p=myDescription