extends ../../_component/layout/template
block cool-config
  -
    var myTitle = 'Learn to code CSS Backgrounds for beginners';
    var myDescription = 'This is a CSS Backgrounds Tutorial';
    var landingPage = 'CSS';
    var activeLink = '/css/backgrounds';

block awesome-content
  h1=myTitle
  p=myDescription
  h3 CSS background properties:
  p
    h4
      ul
        li background-color
        li background-image
        li background-repeat
        li background-attachment
        li background-position