extends ../../_component/layout/template
block cool-config
  -
    var myTitle = 'HTML Elements';
    var myDescription = 'HTML Elements';
    var landingPage = 'HTML';
    var activeLink = '/html/elements';

block awesome-content
  h1=myTitle+ 'blbln'
  p=myDescription
  h2=myTitle + myDescription