extends ../../_component/layout/template
block cool-config
  -
    var myTitle = 'Learn to code HTML Headings';
    var myDescription = 'This is a HTML Headings';
    var landingPage = 'HTML';
    var activeLink = '/html/headings';

block awesome-content
  h1=myTitle
  p=myDescription